/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
.Wrapper {
  color: white;
  margin: 0 8px;
  padding-bottom: 30px; }

.Heading {
  margin-top: 10px;
  margin-bottom: 15px; }
  .Heading span {
    display: inline-block;
    font-size: 7vw; }

.HeadingIcon {
  height: 25px;
  width: 25px;
  background: url("../../assets/svg/checkIcon.svg") no-repeat center center;
  background-size: cover;
  margin-right: 5px;
  top: 2px;
  position: relative; }

.TodoItem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #509A9B; }
  .TodoItem:first-of-type {
    padding-top: 0; }
  .TodoItem:last-of-type {
    padding-bottom: 0;
    border: none; }

.CheckInput {
  width: 23px;
  height: 23px;
  margin-right: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block; }

.isChecked span:first-of-type {
  background-color: #FCAB53; }

.isChecked span:last-of-type {
  opacity: 0.5; }
