/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
.Wrapper {
  height: 80px;
  width: 100%;
  background: #011B2F;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.HeaderMenu {
  height: 18px;
  width: 18px;
  background: url("../../assets/svg/menuIcon.svg") no-repeat;
  background-position: center center;
  background-size: cover; }

.HeaderIcon {
  height: 55px;
  width: 55px;
  background: url("../../assets/img/dashy-icn.png") no-repeat;
  background-position: center center;
  background-size: cover; }

.DragTrigger {
  height: 15px;
  width: 15px;
  background: url("../../assets/svg/plusSign.svg") no-repeat;
  background-position: center center;
  background-size: cover; }
