@import 'sass/helpers/reset';
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  font: $f-robotoThinSmall;
}

.Grid {
  border: 1px solid red;
  min-height: 100vh;
}

.GridItem {
  border-radius: 10px;
  width: 48.79%;
  //min-height: 238px;
}

.GridItemLarge {
  border-radius: 10px;
  width: 97.999%;
  max-height: 202px;
}

.ItemGreen {
  @include gradient(top, $gradient-green);
}

.ItemOrange {
  @include gradient(top, $gradient-orange);
}