@import 'sass/helpers/reset';
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  font: $f-robotoThinSmall;
}

.Grid {
  @include gradient(top, $gradient-blue);
  min-height: 100vh;
  //no padding: 0 20px - affects widget layout
  padding-top: 20px;
  padding-bottom: 20px;
}

.GridItem {
  border-radius: 10px;
  width: 48.5vw;
  min-height: 280px;
}

.GridItemLarge {
  border-radius: 10px;
  width: 100vw;
  overflow: hidden;
}

.ItemGreen {
  @include gradient(top, $gradient-green);
}

.ItemOrange {
  @include gradient(top, $gradient-orange);
}