/* ========================================================================
  GRADIENTS
  ======================================================================= */
/* ========================================================================
   ASPECT RATIO
   ======================================================================== */
/**
 * from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
 */
/* ========================================================================
   BREAKPOINTS
   ======================================================================== */
.Wrapper {
  color: #FFFFFF;
  margin: 0 8px;
  padding: 6vw 0; }

.Contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: auto; }

.ContactItem {
  width: 50%;
  display: flex;
  flex-direction: row; }

.Avatar {
  height: 10vw;
  width: 10vw;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3vw; }

.Name {
  display: inline-block; }

.ContactLinks {
  margin-top: 1vw; }

.Telephone {
  height: 4vw;
  width: 3vw;
  margin-right: 3vw;
  display: inline-block;
  background: url("../../assets/svg/phoneIcon.svg") no-repeat center center;
  background-size: cover; }

.Text {
  height: 3.5vw;
  width: 3.5vw;
  margin-right: 3vw;
  display: inline-block;
  background: url("../../assets/svg/textIcon.svg") no-repeat center center;
  background-size: cover; }

.Email {
  position: relative;
  top: -0.5vw;
  height: 3vw;
  width: 3.5vw;
  display: inline-block;
  background: url("../../assets/svg/emailIcon.svg") no-repeat center center;
  background-size: cover; }
